<div>
    <label>Title</label>

    <!-- the "name" below is what is sent with the form object that can be called in body.name
    the .ejs variable outputs the authors name from the varibale

    -->
    <input type="text" name="title" value="<%= book.title %>">

</div>
<div>
    <label>Author</label>

    <!-- this select pulls from the database in books.js and enters names in the select area-->
    <select name="author">
        <% authors.forEach(author => { %>
          <% if (author.id === book.author) { %>
            <option selected label="<%= author.name %>" value="<%= author.id %>">
          <% } else { %>
            <option label="<%= author.name %>" value="<%= author.id %>">
          <% } %>
        <% }) %>
        </select>
</div>

<div>
    <label>Publish Date</label>

    <input type="date" name="publishDate"
        value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
        <!--               if (null){         leave blank    else{add todays date -->
</div>

<div>
    <label>Page count</label>

    <input type="number" name="pageCount" min="1"  value="<%= book.pageCount %>">
       
</div>


<div>
    <label>Cover</label>
<!-- need to include class="filepond" for the image upload to database section to work-->
    <input type="file" name="cover" class="filepond">
      
</div>

<div>
    <label>Description</label>

    <textarea name="description" ><%= book.description %> </textarea>
      
</div>

