<h2 class="page-header">Search Authors</h2>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Name</label>
            <!-- the value below is just repopulating the search text box with the original query-->
            <input type="text" name="name" value="<%= searchOptions.name%>" >
        </div>
        </div>
        <div class="form-row form-row-end">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    
</form>
<br>

<!--
    // this "author" object is created in  routes/author.js 
-->
<% authors.forEach(author=> { %> 
    <div class="author-row">
    <div class="author-name" ><%= author.name %></div> 
    
    <div class="btn-row">
        <a class="btn btn-primary" href="/authors/<%= author.id %>"> View</a>    
        <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a> 
        
        <!--   uses a partial in the /partials folder-->
        <!--   "  `$expression' string literal (?) "-->
        <%- include('../partials/deleteForm', 
        
            {url: `/authors/${author.id}`}) %>
        
    
    
    </div>
</div>
    <% }) %> 